      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['Play']" routerLinkActive="active">Play</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['Characters']" routerLinkActive="active">Characters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['List']" routerLinkActive="active">Encounter List</a>
          </li>
      </ul>

      <div class="container">
        <router-outlet></router-outlet>
      </div>