.tag {
    display: inline-block;
    border: solid 1px;
    padding: 0 10px;
    margin: 2px;
    background-color: greenyellow;
}

td {
    min-width: 250px;
}

.character-list {
    display: block;
}