<div class="table-responsive pt-2">
  <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let encounter of encounters" (click)="onEditEncounter(encounter)">
          <td>
            {{ encounter.name }}
            <small *ngIf="encounter.characters" class="ml-2 character-list">Characters: 
              <span *ngFor="let character of encounter.characters | uniqueCharacters; let isLast = last">
                {{ character.name }} ({{ character.count }}) {{isLast ? '' : ', '}}
              </span> </small>
          </td>
          <td><span *ngFor="let tag of encounter.tags" class="tag"> {{ tag }}</span></td>
        </tr>
      </tbody>
  </table>
</div>
  