<form #form="ngForm" (submit)="submitForm(form)" novalidate>
  <div class="card">
    <div class="card-header">
      <h4 name="characterTitle" (click)="toggleNameEdit()" *ngIf="!editingName">{{ model.name || "Character Name" }}</h4>
      <input appFocus type="text" 
                      class="form-control form-control-lg"
                      name="name" 
                      [(ngModel)]="model.name" 
                      *ngIf="editingName" 
                      (blur)="toggleNameEdit()" 
                      placeholder="Character Name" />
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label>Allegiance</label>
            <select class="form-control form-control-sm" name="characterType" [(ngModel)]="model.characterType">
              <option *ngFor="let characterType of characterTypes">
                {{ characterType }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label>Initiative Bonus</label>
            <input type="number" class="form-control form-control-sm" name="initiativeBonus" [(ngModel)]="model.initiativeBonus">
          </div>
          <div class="form-group">
            <label>Hit Points</label>
            <input type="number" class="form-control form-control-sm" name="hitPoints" [(ngModel)]="model.maxHitPoints">
          </div>
        </div>
    
        <div class="col-sm">
          <div class="form-group">
            <label>Armor Class</label>
    
            <div class="row">
              <div class="col-sm">
                <input class="form-control form-control-sm" type="number" name="base" [(ngModel)]="model.armorClass.base">
                <small class="form-text text-muted">Base</small>
              </div>
              <div class="col-sm">
                <input class="form-control form-control-sm" type="number" name="touch" [(ngModel)]="model.armorClass.touch">
                <small class="form-text text-muted">Touch</small>
              </div>
              <div class="col-sm">
                  <input class="form-control form-control-sm" type="number" name="flat" [(ngModel)]="model.armorClass.flatFooted">
                  <small class="form-text text-muted">Flat Footed</small>
              </div>
            </div>

          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label>Saving Throws</label>

            <div class="row">
              <div class="col-sm">
                <input class="form-control form-control-sm" type="number" name="fortitude" [(ngModel)]="model.savingThrow.fortitude">
                <small class="form-text text-muted">Fortitude</small>
              </div>
              <div class="col-sm">
                <input class="form-control form-control-sm" type="number" name="reflex" [(ngModel)]="model.savingThrow.reflex">
                <small class="form-text text-muted">Reflex</small>
              </div>
              <div class="col-sm">
                <input class="form-control form-control-sm" type="number" name="will" [(ngModel)]="model.savingThrow.will">
                <small class="form-text text-muted">Will</small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="card-footer">
      <button type="button" class="btn btn-outline-danger" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn btn-outline-success float-right">Save</button>
    </div>

  </div>

  
</form>

Model Name: {{ model.name }}